<div class="featurette alternate content d-flex justify-content-center align-items-center">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="py-3">
          <h1 class="topper">About</h1>
          <img src="../../assets/combologo.png" class="img-fluid profile"/>
        </div>
        <p>
          My name is Justin Johnson.
          <br/>
          I have been programming since 2007. I graduated from NJIT in Fall 2018 with a Bachelor of Science in Information Technology and a specialization in Video Game Development.
        </p>
        <p>
          As an avid gamer, I have found my calling. I was instantly hooked after learning how to make my own games.
        </p>
        <p>
          Just as they say, "Choose a job you love, and you will never have to work a day in your life."
        </p>
        <p>
          Websites have become my newest forte. I always try to make my designs modern and intuitive. I started Combo Software to present my work in the best way that I can.
        </p>
        <p>
          If you're looking for an experienced Video Game/Web Developer, <a routerLink="/contact">let me know</a> how I can help.
        </p>
      </div>
    </div>
  </div>
</div>
