<div class="masthead alternate content d-flex justify-content-center align-items-center">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="topper">Justin Johnson</h1>
        <p class="lead">
          Newark, NJ
          <br/>
          <a href="tel:+19733485268">(973) 348-5268</a>
          <br/>
          <a href="mailto:combosoftwareco@gmail.com">combosoftwareco@gmail.com</a>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <a href="https://www.facebook.com/combosoftware/"><img src="../../assets/facebook.png" class="img-fluid social"/></a>
      </div>
      <div class="col-sm-3">
        <a href="https://github.com/combo-software"><img src="../../assets/github.png" class="img-fluid social"/></a>
      </div>
      <div class="col-sm-3">
        <a href="https://www.linkedin.com/company/combo-software"><img src="../../assets/linkedin.png" class="img-fluid social"/></a>
      </div>
      <div class="col-sm-3">
        <a href="https://twitter.com/ComboSoftwareCo"><img src="../../assets/twitter.png" class="img-fluid social"/></a>
      </div>
    </div>
  </div>
</div>
<ngui-map zoom="15" center="Newark, NJ, USA"></ngui-map>
