<div *ngIf="project" style="height:100%;">
	<div class="featurette alternate">
		<h2>{{project.name}}</h2>
		<img src="../../assets/screenshots/{{project.image1}}" class="img-fluid project my-3" (click)="goToDetail(project.slug)"/>
	</div>
	<div class="featurette alternate py-3">
		<div class="container">
			<div class="row">
				<div class="col">
					<p class="lead" [innerHTML]="project.description"></p>
					<div *ngIf="project.link">
						<div *ngIf="project.type == 'Website'; then website else game"></div>
						<ng-template #website><a href="{{project.link}}"><button class="btn btn-lg">Visit {{project.name}}</button></a></ng-template>
						<ng-template #game><a href="{{project.link}}"><button class="btn btn-lg">Play {{project.name}}</button></a></ng-template>
					</div>
					<p class="py-2" *ngIf="project.gitLink"><a href="{{project.gitLink}}"><button class="btn btn-sm">View on GitHub</button></a></p>
					<p class="py-2"><a routerLink="/projects">Back to portfolio</a></p>
				</div>
			</div>
		</div>
	</div>
</div>