<div class="vidup">

  <div class="masthead content d-flex justify-content-center align-items-center">
    <div class="container">
      <img src="../../assets/combologo.png" class="img-fluid leadPic"/>
      <div class="row py-3">
        <div class="col">
          <p class="lead">
            <a routerLink="/projects">
              <button class="btn">Projects</button>
            </a>
          </p>
        </div>
      </div>
    </div>
    <div class="gradientback"></div>
  </div>

  <div class="featurette alternate content d-flex justify-content-center align-items-center">
      <div class="container">
  
        <h2>Specializations</h2>
  
        <div class="row trimmer">
          <div class="col">
            <a href="http://angular.io">
              <img src="../../assets/angular.png" title="Angular" class="img-fluid logoIcon"/>
            </a>
          </div>
          <div class="col">
            <a href="http://getbootstrap.com/">
              <span title="Bootstrap" class="bd-booticon outline">B</span>
            </a>
          </div>
        </div>
  
        <div class="row trimmer">
          <div class="col">
              <img src="../../assets/cpp_logo.png" title="C++" class="img-fluid logoIcon"/>
          </div>
          <div class="col">
            <img src="../../assets/csharp.png" title="C#" class="img-fluid logoIcon"/>
          </div>
        </div>
  
        <div class="row trimmer">
          <div class="col">
            <img src="../../assets/css3.png" title="CSS3" class="img-fluid logoIcon"/>
          </div>
          <div class="col">
            <img src="../../assets/html5.png" title="HTML5" class="img-fluid logoIcon"/>
          </div>
        </div>        
  
        <div class="row trimmer">
          <div class="col">
            <img src="../../assets/javascript.png" title="JavaScript" class="img-fluid logoIcon"/>
          </div>
          <div class="col">
            <a href="https://nodejs.org">
              <img src="../../assets/nodejs.png" title="NodeJS" class="img-fluid logoIcon"/>
            </a>
          </div>
        </div>
  
        <div class="row trimmer">
          <div class="col">
            <a href="https://phaser.io">
              <img src="../../assets/phaser.png" title="Phaser" class="img-fluid logoIcon"/>
            </a>
          </div>
          <div class="col">
            <a href="https://www.typescriptlang.org/">
              <img src="../../assets/typescript.png" title="TypeScript" class="img-fluid logoIcon"/>
            </a>
          </div>
        </div>
  
      </div>
    </div>

  <div class="featurette content d-flex justify-content-center align-items-center" style="background-color:#333;">
    <div class="container">
      <h2>Selected Works</h2>
      <div class="row trimmer">
        <div class="col">
          <a routerLink="/projects/spaceroni">
            <img src="../../assets/screenshots/spaceroni3.png" class="sel img-fluid rounded" style="max-height:20vh;"/>
          </a>
        </div>
      </div>
      <div class="row trimmer">
        <div class="col">
          <a routerLink="/projects/newark-centric-city">
            <img src="../../assets/screenshots/ncc.PNG" class="sel img-fluid rounded" style="max-height:20vh;"/>
          </a>
        </div>
      </div>
      <div class="row trimmer">
        <div class="col">
          <a routerLink="/projects/luz-threads">
            <img src="../../assets/screenshots/luz-threads.png" class="sel img-fluid rounded" style="max-height:20vh;"/>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="featurette alternate content d-flex justify-content-center align-items-center" id="middlediv">
    <div class="container">
      <h2>Custom Code</h2>
      <div class="row">
        <div class="col">

          <p class="lead">
            Whether it's a website, game, or app,
            Combo Software can build it tailored to your needs.
            <br/>
            Choose Combo Software for your next project!
          </p>
          <a routerLink="/contact">
              <button class="btn btn-lg">Contact</button>
          </a>

        </div>
      </div>
    </div>
  </div>
  
  <video autoplay loop id="video-background" muted>
  <source src="../../assets/Love-Coding.mp4" type="video/mp4">
  </video>

</div>